*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'lora';
    src: url('assets/fonts/Lora/Lora-Regular.ttf');
}

body {
    font-family: 'lora';
    font-size: 15px;
    background-color: #f0f0f0;
}

ul, li{
    list-style-type: none;
}

h2{
    font-family: "roboto-bold";
    font-size: 25px;
    margin-bottom: 0px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4{
    font-family: "roboto-medium";
    font-size: 20px;
    margin-bottom: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* 
    For Slider => 
    h2 => font-size: 30px; h3,h4 => font-size: 22px;

    For Other Section =>
    h3 => 20px - 22px ; h4 => 16px - 18px
*/

.cv_container{
    width: 100%;
}

.cv_wrapper{
    background-color: #fff;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0, .02);
}

.our-bg {
    background-color: #000;
    color: #fff;
}

ul.personal_info li span:first-child {
    width: 150px;
    display: inline-block;
}


ul.social_info{
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.social_info li{
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;   
}

.social_info li a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: #000;
    transition: all 0.2s linear;
}

.social_info li a:hover{
    transform: rotate(360deg);
}


.title-block{
    background-color: #101010;
}

.title-block .title{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 88% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 88% 100%, 0% 100%);
    background-color: #f3f3f3;
    margin-left: 5px;
    padding: 5px 40px 5px 5px;
    display: inline-block;
}


.duration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ddd;  
  /*box-shadow: 0px 0px 27px 0px rgba(147, 147, 147, .42);*/
}

.job-details {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.job-company, .job-title,.job-description, .job-duration{
    margin-bottom: 5px;
    font-family: 'lora';
}

.job-company{
    font-family: 'roboto-bold';
    font-size: 24px;
    color: #F84304;
    text-transform: uppercase;
}
.job-title{
    font-size: 18px;
    color: #101010;
}

.description{
    font-size: 16px;
}

.job-duration{
    font-size: 20px;
    color: #F84304;
}

.progressHeight{
  height: 300px;
}


/* 
============================================
Responsive Design Start Here..
============================================
*/



@media only screen and (max-width: 1024px){
    .job-company {
        font-size: 20px;
    }
    .job-duration {
        font-size: 16px;
    }
    .job-title {
        font-size: 16px;
    }

}

@media only screen and (max-width: 991px){
    h2{
        font-size: 20px;
    }

    h4{
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px){
    .job-duration {
        font-size: 15px;
    }
    .title-block .title{
        padding: 10px 40px 10px 5px;
        font-size: 15px;
    }

    ul.personal_info li span:first-child {
        width: 95px;
    }

}